:root {
    --primary-color: #EB6C27;
    --bg: #FFFFFF;
    --text: #3a3a3a;
    --text-gray: #888888;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    text-align: center;
}

/*zacatek stranky*/

.body__kontakty {
    color: var(--text);
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 5rem;
}

.text__kontakty {
    text-align: left;
}  

.nadpis-kontakty {
    margin-top: 6rem;
    font-weight: bold;
}

.popis-kontakty {
    font-size: 0.85rem;
}

.img-kontakty {
    width: 100%;
}

/*kontaktni udaje*/

.kontakt__menu {
  margin-top: 2rem;
}

.kontakty {
  margin-bottom: 2rem;
}

.line {
  display: flex;
}

.orange-text {
  margin-left: 1rem;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 0.9rem;
}



/*FORMULÁŘ*/

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid var(--primary-color); 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 40px;
    text-align: center;
    border: none;
    cursor: pointer;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
    text-align: left;
  }

  /*NAVBAR*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media screen and (min-width: 832px) {
    .text__kontakty {
      text-align: center;
  }
  .nadpis-kontakty {
    font-size: 3.5rem;
  }

  .popis-kontakty{
    font-size: 1rem;
  }

  .img-kontakty{
    width: 800px;
  }
  
  .kontakt__menu {
    display: flex;
    justify-content: space-evenly;
    gap: 20rem;
    margin-top: 10rem;
  }

  .kontakty {
    margin-top: 8rem;
  }

  .line {
    margin: 1rem;
  }

  .orange-text {
    font-size: 1.5rem;
  }

  .orange-icon {
    width: 60px;
  }

  .container {
    width: 800px;
    margin-left: 100px;
  }

  .text__kontakty2 {
    text-align: left;
    margin-left: 100px;
  }
  }