:root {
    --primary-color: #EB6C27;
    --bg: #FFFFFF;
    --text: #3a3a3a;
    --text-gray: #888888;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    text-align: center;
}

/*zacatek stranky*/

.image-container {
    position: relative;
    text-align: center;
    text-align: center;
    color: white;
}
  
.image-text {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    font-weight: 900;
    font-size: 30px;
}
.image-text2 {
    position: absolute;
    bottom: 17px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    font-weight: 100;
    font-size: 15px;
}
  
.header-image {
    max-width: 100%;
    filter: brightness(65%);
}

/*konec fotky headeru*/

.text__sluzby {
    text-align: left;
    margin-top: 50px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 60px;
    color: var(--text);
}

.text-main {
    margin-right: 0;
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--text);
}

.orange-text {
    color: var(--primary-color);
}

.text-bottom {
    font-size: 15px;
    font-family: 'Inter';
}

/*konec textu*/

/*zacatek cards*/

.img-card {
    max-width: 100%;
    border-radius: 0px 0px 40px 0px;
}

.body__main {
    text-align: left;
    margin-left: 18px;
    margin-right: 18px;
    color: #2B2B2B;
}

.nadpis-card {
    font-size: 0.6rem;
}

.button-orange-line {
    background-color: var (--primary-color);
    color: var(--primary-color);
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px dashed #EB6C27;
    min-width: 150px;
    font-weight: bold;
    margin-bottom: 35px;
  }

/*konec prvni karty*/


.img-card2 {
    max-width: 100%;
    border-radius: 0px 0px 0px 40px;
}

/*konec druhe karty*/

/*zacatek duvera fotka*/


.image__container2 {
    position: relative;
    text-align: center;
    text-align: center;
    margin: 0;
    color: white;
    text-align: left;
}

.image-text2-2 {
    position: absolute;
    bottom: 150px;
    left: 20px;
    right: 0;
    margin: auto;
    width: 100%;
    font-weight: 100;
    font-size: 15px;
}
  
.header-image-2 {
    max-width: 100%;
    filter: brightness(35%);
}

.button-orange {
    position: absolute;
    left: 20px;
    bottom: 20px;
    
    /*pozice*/
    background-color: var(--primary-color);
    color: var(--bg);
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 150px;
    font-weight: bold;
}

/*zacatek galerie*/

.galerie__reference {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--text);
}

.reference-img {
    max-width: 100%;
    margin-top: 2rem;
}

.reference-nadpis {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0;
}

.reference-text {
    margin-top: 0;
    font-size: 0.85rem;
}

.reference-button {
    background-color: var(--primary-color);
    color: var(--bg);
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 150px;
    font-weight: bold;
    margin: 40px;
    margin-bottom: 6rem;
}

/*konec referencí*/

.footer__orange{
    background-color: var(--primary-color);
    color: var(--bg);
    padding: 2rem;
    padding-bottom: 0.6rem;
}

.footer-nadpis {
    font-size: 1.3rem;
}

.footer-text {
    font-size: 0.9rem;
    font-weight: lighter;
}

.footer-button {
    background-color: var(--bg);
    color: var(--bg);
    padding: 17px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 150px;
    font-weight: bold;
    margin: 40px;
    margin-top: 15px;
    color: var(--primary-color);
}