:root {
    --primary-color: #EB6C27;
    --bg: #FFFFFF;
    --text: #3a3a3a;
    --text-gray: #888888;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    text-align: center;
}









/* menu s hamburger menu start */

.header {
    background-color: white;
}


.header__nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin:1.5em 1.2em 2em 1.2em;
    height: 53px;
}

.menu{
    margin-top: 25px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #EB6C27;
    padding: 1em;
    gap: 0.5em;
}

.menu a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
}
.menu a:hover {
    font-weight: bolder;
}

menu::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    margin-right: calc((46px - 25px) / 2);
    transform: translateY(-100%);
    border: 12.5px solid white;
    border-bottom-color: #EB6C27;
    border-bottom-style: solid;
    border-bottom-width: 25px;
    border-top: none;
}

.navbar{
    border: black 2px solid;
}

.hamburger {
    flex-direction: column;
    align-items: center;
    display: none;
}

.hamburger::after {
    content: url(../media/hamburger.svg);
}


@media screen and (max-width: 832px) {
    .hamburger { 
        display: flex;
    } 
    .hamburger-menu--hidden {
        z-index: -1;
    }
}

.img-responsive {
    
    height: 100%;
}

.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top:179px;
    padding-bottom:20px;
    background-image:url(../media/media/pageheader-1920w.jpg);
    background-position: center;
    background-size:auto 150%;
    background-repeat: no-repeat;
    padding-left: -20px;
    padding-right:-20px ;
    margin-bottom: 55px;
}








/*zacatek stranky*/

.image-container {
    position: relative;
    text-align: center;
    text-align: center;
    color: white;
}
  
.image-text {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    font-weight: 900;
    font-size: 30px;
}

.image-text2 {
    position: absolute;
    bottom: 17px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    font-weight: 100;
    font-size: 15px;
}
  
.header-image {
    max-width: 100%;
    filter: brightness(65%);
}

/*konec fotky headeru*/

.text__sluzby {
    text-align: left;
    margin-top: 50px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 60px;
    color: var(--text);
}

.text-main {
    margin-right: 0;
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--text);
}

.orange-text {
    color: var(--primary-color);
}

.text-bottom {
    font-size: 15px;
}



/*konec textu*/

/*zacatek cards*/

.img-card {
    max-width: 100%;
    border-radius: 0px 0px 40px 0px;
}

.body__main {
    text-align: left;
    margin-left: 18px;
    margin-right: 18px;
    color: #2B2B2B;
}

.nadpis-card {
    font-size: 0.6rem;
}

.button-orange-line {
    background-color: var (--primary-color);
    color: var(--primary-color);
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px dashed #EB6C27;
    min-width: 150px;
    font-weight: bold;
    margin-bottom: 35px;
  }

/*konec prvni karty*/


.img-card2 {
    max-width: 100%;
    border-radius: 0px 0px 0px 40px;
}

/*konec druhe karty*/

/*zacatek duvera fotka*/


.image__container2 {
    position: relative;
    text-align: center;
    text-align: center;
    margin: 0;
    color: white;
    text-align: left;
}

.image-text2-2 {
    position: absolute;
    bottom: 150px;
    left: 20px;
    right: 0;
    margin: auto;
    width: 100%;
    font-weight: 100;
    font-size: 15px;
}
  
.header-image-2 {
    max-width: 100%;
    filter: brightness(35%);
}

.button-orange {
    position: absolute;
    left: 20px;
    bottom: 20px;
    
    /*pozice*/
    background-color: var(--primary-color);
    color: var(--bg);
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 150px;
    font-weight: bold;
}



/*zacatek galerie*/

.galerie__reference {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--text);
}

.reference-img {
    max-width: 100%;
    margin-top: 2rem;
}

.reference-nadpis {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0;
}

.reference-text {
    margin-top: 0;
    font-size: 0.85rem;
}

.reference-button {
    background-color: var(--primary-color);
    color: var(--bg);
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 150px;
    font-weight: bold;
    margin: 40px;
    margin-bottom: 6rem;
}

/*konec referencí*/

/*zacatek footeru*/

.footer__orange{
    background-color: var(--primary-color);
    color: var(--bg);
    padding: 2rem;
    padding-bottom: 0.6rem;
}

.footer-nadpis {
    font-size: 1.3rem;
}

.footer-text {
    font-size: 0.9rem;
    font-weight: lighter;
}

.footer-button {
    background-color: var(--bg);
    color: var(--bg);
    padding: 17px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 150px;
    font-weight: bold;
    margin: 40px;
    margin-top: 15px;
    color: var(--primary-color);
}

/*NAVBAR*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  

/*KONEC INDEXU*/
@media (min-width: 768px) {
    .image-text{
        font-size: 7rem;
        bottom: 300px;
    }
    
    div.image-text2 {
        font-size: 3rem;
        bottom: 240px;
    }

    .text__sluzby {
        text-align: center;
    }

    .text-main {
        font-size: 3rem;
    }

    .text-bottom {
        font-size: 2rem;
    }
    
    .image-text2-2{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 15rem;
    }

    .button-orange {
        font-size: 2rem;
        padding: 3rem;
    }

    .galerie__reference{
        display: flex;
    }
    
    .reference-img {
        width: 80%;
    }

    .footer-nadpis {
        font-size: 3rem;
    }

    .footer-text {
        font-size: 1rem;
    }

    .img-card {
        width: 35%;
    }

    .img-card2 {
        width: 35%;
    }

    .text-left-card {
        width: 30%;
    }

    .left-card {
        display: flex;
        margin-bottom: 20px;
    }
}
